.reservation__link-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .reservation__link-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    gap: 5%;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  .reservation__link-list {
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (min-width: 1280px) {
  .reservation__link-list {
    display: flex;
    gap: 0;
    width: 1200px;
    justify-content: space-between;
  }
}