.footer__booking {
  width: 134px;
  margin-right: 77px;
  width: 100%;
  padding: 20px 0;
}

@media screen and (min-width: 768px) {
  .footer__booking {
    width: 134px;
    margin-right: 77px;
    padding: 0;
  }  
}