.header__block {
  width: 90%;
  margin: 14px auto 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header__block {
    width: 90%;
    margin: 46px auto 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .header__block {
    width: 90%;
    margin: 41px auto 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 1280px) {
  .header__block {
    width: 1200px;
    margin: 41px auto 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}