.reservation__img {
  width: 100%;
  grid-area: img;
}

@media screen and (min-width: 768px) {
  .reservation__img {
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .reservation__img {
    width: 384px;
    height: 489px;
  }
}