.lead__img { 
  width: 100%;
}

@media screen and (min-width: 768px) {
  .lead__img { 
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .lead__img { 
    width: 180px;
    height: 588px;
  }
}