.about-us {
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .about-us {
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .about-us {
    width: 1440px;
  }
}