.benefit__img {
  width: 100%;
  grid-area: img;
}

@media screen and (min-width: 768px) {
  .benefit__img {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .benefit__img {
    width: 384px;
    height: 384px;
  }
}